altair
beautifulsoup4
scipy
numpy
matplotlib
seaborn
pandas
nilearn
ipywidgets
xarray
myst_nb
sphinx
sphinx-panels
ablog
sphinxcontrib-bibtex
sphinx-autobuild
sphinxext-opengraph
pydata-sphinx-theme
MyST-Parser
